{% extends "base.html" %}
{% block content %}
     <section>
          <div class="container">
               <div class="text-center">
                    <h1>Danh sách blog</h1>

                    <br>

                    <p class="lead">Tổng hợp các danh mục blog và những blog được đánh giá cao</p>
               </div>
          </div>
     </section>

     <section class="section-background">
          <div class="container">
               <div class="row">
                    <div class="col-lg-3 pull-right col-xs-12">
                         <div class="form">
                              <form action="#">
                                   <div class="form-group">
                                        <label class="control-label">Tìm kiếm blog</label>

                                        <div class="input-group">
                                             <input type="text" class="form-control" placeholder="Tìm kiếm">
                                             <span class="input-group-btn">
                                                  <button class="btn btn-default" type="button">Tìm!</button>
                                             </span>
                                        </div>
                                   </div>
                              </form>
                         </div>

                         <br>

                         <label class="control-label">Có thể bạn quan tâm:</label>
                         <ul class="list">
                              {% for blog in high_rate_blogs %}
                                   <li>
                                        <a href="{% url "detail" pk=blog.id_number_shuffle %}">
                                             {{blog.book_name}}
                                        </a>
                                   </li>
                              {% endfor %}
                         </ul>
                    </div>
                    {% for topic, blogs in topics_blogs_item %}
                         <div class="col-lg-9 col-xs-12">
                              <a href="{% url "topic" slug=topic.slug %}">
                                   <h1>{{ topic.name }}</h1>
                              </a>
                              {% if blogs %}              
                                   <div class="row">
                                        {% for post in blogs %}
                                             <div class="col-sm-6">
                                                  <div class="courses-thumb courses-thumb-secondary">
                                                       <div class="courses-top">
                                                            <div class="courses-image">
                                                                 <img src="{{ post.book_image.url }}" class="img-responsive" alt="">
                                                            </div>
                                                            <div class="courses-date">
                                                                 <a href="{% url "profile" name=post.author.username %}">
                                                                      <span title="Author" class="author-link">
                                                                           <img src="{{post.author.profile.avatar.url}}" class="rounded_avatar">&nbsp;
                                                                           {{post.author}}
                                                                      </span>
                                                                 </a>
                                                                 <span title="Date">
                                                                      <i class="fa fa-calendar"></i> {{post.update_date|date:"d/m/Y"}}
                                                                 </span>
                                                                 <span>
                                                                      <span title="Views">
                                                                           <i class="fa fa-star"></i> {{post.book_medium_rate}} 
                                                                           ({{post.book_rate_times}} <i class="fa fa-user"></i>)
                                                                      </span>
                                                                      <span title="Comments">
                                                                           <i class="fa fa-comment"></i> {{post.book_comment_times}} 
                                                                      </span>
                                                                 </span>
                                                            </div>
                                                       </div>

                                                       <div class="courses-detail">
                                                            <h3 class="limit-text"><a href="{% url "detail" pk=post.id_number_shuffle %}">
                                                                 Review {{post.book_topic}}:
                                                                 {{post.book_name|truncatewords:20}}
                                                            </a></h3>
                                                            <p class="limit-text">{{post.book_description|truncatewords:20}}</p>
                                                       </div>

                                                       <div class="courses-info">
                                                            <a href="{% url "detail" pk=post.id_number_shuffle %}" class="section-btn btn btn-primary btn-block">Đọc thêm</a>
                                                       </div>
                                                  </div>
                                             </div>                                             
                                        {% endfor %}
                                   </div>
                              {% else %}
                                   <p>Không có blog thuộc chủ đề này!</p>
                              {% endif %}
                         </div>
                    {% endfor %}
               </div>
          </div>
     </section>

    <script defer>
        document.getElementById("list_topic_id").classList.add("active")
    </script>
{% endblock content %}